<app-loading *ngIf="isLoading$ | async"></app-loading>
<div *ngIf="products$ |async">
    <div *ngFor="let product of (products$ | async)?.items">
        <div>
            <img src={{product.smallThumbnailUrl}} width="160" height="160">
            <div>
                {{product.name}}
            </div>
            <div>
                {{product.defaultDisplayedPriceFormatted}}
            </div>
            <a [routerLink]="['/products', product.id]">
                Details
            </a>
        </div>
    </div>
</div>